{% extends 'MopaBootstrapBundle::base' ~ theme_type|default('')~ '.html.twig' %}

{% block head_bottom %}
    {{ parent() }}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161773-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
{% endblock head_bottom %}

{% block head_style %}
{% stylesheets
       '@MopaBootstrapSandboxBundle/Resources/public/less/mopabootstrapsandboxbundle.less'
       '@MopaBootstrapSandboxBundle/Resources/public/css/prettify.css'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block container_class %}container{% endblock container_class %}

{% block navbar %}
{{ mopa_bootstrap_navbar('sandboxFrontendNavbar') }}
{% endblock navbar %}

{% block body %}
{{ parent() }}
{% block fork_me %}
<a href="http://github.com/phiamo/MopaBootstrapBundle"><img style="position: absolute; top: 40px; right: 0; border: 0; z-index: 1025;" src="{{ asset('bundles/mopabootstrapsandbox/img/github_forkme_ribbon.png') }}" alt="Fork me on GitHub"></a>
{% endblock fork_me %}
{% endblock body%}

{% block content_row %}
{{ parent() }}
{% if showTemplate is defined or showForm is defined %}
<div class="row-fluid">
    {% if showForm is defined %}
    <div class="span6">
        <p><strong>FormType Code</strong></p>
        <pre class="prettyprint">{{ classSource(showForm) }}</pre>
    </div>
    {% endif %}
    {% if showTemplate is defined %}
    <div class="span6">
        <p><strong>Template Code</strong></p>
        <pre class="prettyprint">{{ twigSource(showTemplate) }}</pre>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock content_row %}

{% block foot_script %}
{{ parent() }}

<script type="text/javascript" src="{{ asset('bundles/mopabootstrapsandbox/js/prettify.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    window.prettyPrint && prettyPrint();
});
</script>
{% endblock foot_script %}
